In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("breast-cancer-wisconsin-data.csv")

In [3]:
data.head(3)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

In [4]:
data = pd.DataFrame(data={"Degree":["EC","CSE","CSE(AI/DS)","CSE(Cloud)"],
                          "Specialization":["General","General","AIDS(SAS)","Cloud"]})

In [5]:
data.to_csv("sample-data.csv",index=False)

In [6]:
data = pd.read_csv("sample-data.csv")

In [7]:
data.head(2)

  Degree Specialization
0     EC        General
1    CSE        General

In [8]:
data

       Degree Specialization
0          EC        General
1         CSE        General
2  CSE(AI/DS)      AIDS(SAS)
3  CSE(Cloud)          Cloud